################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Connect-The-Temples/.vs/Connect-The-Temples/v16
/Connect-The-Temples/packages
/Connect-The-Temples/Connect-The-Temples/x64/Debug
/Connect-The-Temples/x64/Debug
/Connect-The-Temples/Connect-The-Temples/Debug
/Connect-The-Temples/Debug
