################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Connect-The-Temples/.vs/Connect-The-Temples/v16
